body {
    padding: 0px;
    margin: 0px;
}

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.foto-portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

section.foto-portada img {
    width: 100vw;
    height: auto;
}

section.foto-portada a {
    text-decoration: none;
    margin: 6px 0px;
    font-size: 1.5em;
    color: #0087ce;
}

section.foto-portada a:hover {
    color: blue;
    text-shadow: 4px -5px 3px black;
}

section.galeria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
    margin: 5px 20vw;
}

section.galeria img {
    width: 191px;
    height: auto;
}

section.galeria img:hover {
    border: solid 1px black;
    transform: scale(1.1);
}