header {
  height: 5vh;
  background-color: #9aadbf;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: sticky;
  top: 0;
}

header ul {
  list-style-type: none;
  padding: 0px;
}

header ul li {
  display: inline;
}

header ul li a {
  text-decoration: none;
  color: black;
  margin: 0px 2vw;
}
header ul li a:hover {
    background: #e8e8e8;
    padding: 2px 4px;
    border-radius: 8px;
}

@media only screen and (max-width: 800px) {
  header ul {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  header ul li {
    margin: auto;
  }

  header ul li a {
    margin: auto;
  }

}