div.seguido img {
    border: solid 1px black;
    margin-left: 1vw;
    vertical-align: middle;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

article
{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.columna-izq
{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: 25vw;
}

.centro
{
    display: flex;
    justify-content: center;
    align-content: center;
    width:50vw;
}

.imagen-story
{
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
}

.imagen-story:hover
{
    animation-name: cambiarStory;
    animation-duration: 25s;
    animation-direction: alternate;
}

.columna-der
{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: 25vw;
}

@keyframes cambiarStory
{
    0% {background-image: url("../IMG/story13.jpg");}
    50% {background-image: url("../IMG/story14.jpg");}
    100% {display:none}
}

#Icono-Inicio
{
    text-decoration: none;
    color: black;
}
