body
{
    padding: 2px;
}

div.seguidores img {
    border: solid 1px black;
    margin-left: 1vw;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.Historia
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Seguidores
{
    display: inline-block;
    text-align: left;
}