iframe
{
    height: 13vh;
}

.Upper
{
    text-align: right;
    height: 10vh;
    position: sticky;
    top: 0;
}

.Historias
{
    height: 13vh;
    background-color: #28425C;
}

#Icono-Inicio
{
    text-decoration: none;
    color: black;
}


#Icono-Directo
{
    text-decoration: none;
    padding-top: 15px;
    padding-right: 40px;
    font-size: xx-large;
    color: black;
}