body {
    padding: 0px;
    margin: 0px;
}

contenedor {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0px;
    border-bottom: solid 1px lightgrey;
}

ul li {
    display: inline;
}

ul li a {
    text-decoration: none;
    padding: 0px 70px;
    color: gray;
}

[href="Seguidos.html"] {
    color: black;
    border-bottom: solid 1px black;
}

.contenedor-buscar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: solid 1px lightgrey;
}

form {
    margin-left: 4vw;
}

input {
    border-style: hidden;
    width: 30vw;
    padding-bottom: 1vw;
}

section {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
}

.seguidos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

div.seguidos img {
    border: solid 1px black;
    margin-left: 1vw;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

div.seguidos span {
    width: 20vw;
    margin-left: 2vw;
}
.boton-siguiendo {
    background: white;
    width: auto;
    margin-left: 2vw;
    padding: 3px 12px;
    border-radius: 8px;
    color: black;
    font-size: 1.1em;
}