.cabecera ul li a[href="Seguidos.html"] {
    color: black;
    border-bottom: solid 1px black;
}

input {
    border-style: hidden;
    width: 20vw;
    background-image: linear-gradient(to top right, #e6e8e6, #f4f6f4);
    padding-bottom: 1vw;
}

@media only screen and (max-width: 800px) {
    input {
        width: 50vw;
        background-image: linear-gradient(to top right, #e6e8e6, #eff1ee);
    }
}